html{

    font-size: 62.5;
}

.primera-clase {

    width: 600px;
    height: 200px;
    background: plum;
    display: flex;
    justify-content: center;
    margin: auto;
}

p {

    font-size: 2rem;
}

.segunda-clase {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
}